@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

:root {
  --gray: #d1d5db;
  --darker-gray: #9ca3af;
  --white: #e2e8f0;
  --sidebar-transition-duration: 0.1s ease;
  
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html, body, .app {
  height: 100vh;
  width: 100vw;
  background-color: var(--white);
  position: relative;
}

.app {
  display: flex;
}

.sidebar {
  position: fixed;
  width: max(15vh, 280px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  
  padding: 0 1.2rem;
  background-color: var(--gray);
  transition: var(--sidebar-transition-duration);
  z-index: 3;
  font-size: 1.4rem;
}

.sidebar.closed {
  transform: translateX(-100%);
  background-color: lightgray;
}

.sidebar > * {
  transition: var(--sidebar-transition-duration);
}

#toggle-sidebar {
  position: absolute;
  appearance: none;
  top: 1rem;
  left: 100%;
  font-size: 2rem;
  transform: translateX(-100%);
  padding: 0 1rem;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  color: var(--darker-gray)
}

.sidebar.closed #toggle-sidebar {
  transform: translateX(0);
}

.sidebar-main {
  display: flex;
  flex-direction: column;
  
  padding: 1rem 0;
  gap: 10px;
}

.sidebar-main li {
  display: flex;
  align-items: center;
}

.sidebar-main:first-of-type {
  border-bottom: 2px var(--darker-gray) solid;
}

.sidebar-main a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  display: flex;
  align-items: center;
  border-radius: 10px;
  gap: 10px;
  padding: 8px;
  cursor: pointer;
  background-color: var(--gray);
  width: 100%;
}

li {
  list-style: none;
}

.sidebar-main img {
  aspect-ratio: 1 / 1;
  height: 1.6rem;
}

.sidebar-main a:hover {
  filter: brightness(0.9);
}

.circle {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 100%;
  background-color: red;
}

.main-content {
  padding: 4rem 8rem 2rem 8rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  transition: var(--sidebar-transition-duration);
  font-size: 1.6rem;
  position: relative;
  z-index: 1;
}

footer {
  margin: auto 0 0 0;
  align-self: center;
  display: flex;
  gap: 5px;
  align-items: center;
  color: var(--darker-gray);
}

footer a {
  display: grid;
  place-items: center;
}

footer img {
  height: 1.8rem;
  width: auto;
}

.app:has(.sidebar.opened) > .main-content {
  margin: 0 0 0 max(15vh, 300px);
}

.main-content > h1 {
  margin: 0 0 2rem 0;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tasks li {
  display: flex;
  align-items: center;
  background-color: var(--white);
  padding: 4px 8px;
  border-radius: 8px;
}

.tasks li:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

.tasks p {
  margin: 0 1rem;
}

.tasks input[type='checkbox'] {
  appearance: none;
  position: relative;
  min-width: 1.4rem;
  min-height: 1.4rem;
  border: 1px solid black;
  border-radius: 100%;
}

.tasks input[type='checkbox']:checked {
  border: 2px solid black;
}

.tasks input[type='checkbox']:checked + p {
  text-decoration: line-through;
  color: var(--darker-gray)
}

.tasks input[type='checkbox']::before {
  top: -3px;
  content: '✓';
  position: absolute;
  font-size: 1.2rem;
  font-weight: 700;
  visibility: hidden;
}

.tasks input[type='checkbox']:checked::before {
  visibility: visible;
}

.tasks > li img {
  height: 1.6rem;
  width: auto;
}

.task-wrapper {
  display: flex;
  align-items: center;
}

.task-wrapper.info {
  margin: 0 0 0 auto;
}

.task-tag {
  font-size: 1.2rem;
  margin: 0 3px 0 0;
}

.task-tag.project {
  background-color: blueviolet;
  color: var(--white);
  padding: 4px;
  border-radius: 5px;
  margin-left: auto;
}

.task-tag.priority img {
  height: 1.6rem;
  width: auto;
}

.task-tag.date {
  color: var(--darker-gray);
}

.util-btns {
  position: fixed;
  right: 4vw;
  bottom: 8vh;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  align-items: flex-end;
  z-index: 2;
}

.util-btns button {
  padding: 1rem;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
}

.util-btns .plus {
  background-color: blueviolet;
  border-radius: 100%;
}

.util-btns button > img {
  width: 3.4rem;
  height: auto;
}

button:hover {
  filter: brightness(0.85);
}

.overlay {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 4;
}

.popup {
  background-color: var(--white);
  padding: 2rem;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  width: min(80vw, 400px);
}

.popup li {
  display: flex;
  flex-direction: column;
}

.popup li > *:not(button):nth-child(2) {
  height: 2.4rem;
  border: 1px solid var(--darker-gray);
  border-radius: 5px;
  padding: 0 0 0 5px;
}

.popup li:has(button) {
  flex-direction: row;
  gap: 4px;
}

.popup button {
  border: 0;
  border-radius: 4px;
  padding: 4px 0px;
  color: var(--white);
  flex: 1;
}

.popup button img {
  width: 4rem;
  height: auto;
}

.popup textarea {
  resize: vertical;
  min-height: 50px;
  max-height: 200px;
}

.popup input:disabled, .popup select:disabled, .popup textarea:disabled {
  appearance: none;
  background-color: var(--gray);
  color: black;
  opacity: 1;
}

@media screen and (max-width: 640px) {
  .main-content {
    font-size: 1.5rem;
    padding: 40px 0 0 0;
  }

  .main-content h1 {
    margin-left: 40px;
  }

  .app:has(.sidebar.opened) > .main-content {
    margin: 0;
  }

  .sidebar {
    font-size: 1.8rem;
  }

  #toggle-sidebar {
    top: 1.4rem;
  }

  .tasks li {
    flex-direction: column;
    align-items: start;
    gap: 5px;
    margin-left: 20px;
  }

  .task-wrapper.info {
    margin: 0 0 0 2rem;
  }

  footer {
    margin-bottom: 5px;
    font-size: 1rem;
  }
}